Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-SocketIO==5.3.6
Flask-Limiter==3.8.0
python-dotenv==1.0.1
Werkzeug==3.0.3
python-socketio==5.11.3
python-engineio==4.9.1
simple-websocket==1.0.0
bleach==6.1.0
